<div class="center card w-25">
  <h5 class="card-header">Datos personales</h5>
  <div class="card-body">
    <h5 class="card-title">Nombre y apellido</h5>
    <p class="card-text">Rol: cliente</p>
    <p class="card-text">Email: <%=current_cliente.email%></p>
    <p class="card-text">Turnos completados: <%=current_cliente.turnos.where(estado: "pendiente").size%></p>
    <p class="card-text">Turnos pendientes: <%=current_cliente.turnos.where(estado: "atendidos").size%></p>
    <p class="card-text">Creado: <%= current_cliente.created_at.strftime("%d/%m/%Y %H:%Mhs") %></p>
  </div>
</div>

<style>
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>