<h1>Portal de clientes</h1>

<p>Sistema de turnos bancarios</p>

<% if cliente_signed_in? %> 
  <%= button_to "logout client", destroy_cliente_session_path, method: :delete  %>
<% else %>
  <%= button_to "login", new_cliente_session_path, method: :get  %>
<% end %>
