<h1>Bienvenido a TTPS-Ruby</h1>

<p>Find me in app/views/main/home.html.erb</p>

<% if usuario_signed_in? %>
  <%= button_to "logout", destroy_usuario_session_path, method: :delete  %>
<% else %>
  <%= button_to "login", new_usuario_session_path, method: :get  %>
<% end %>
