<div id="<%= dom_id usuario %>">
  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= usuario.roles[0].name %>
  </p>

  <% if usuario.has_role? :personal %>
    <p>
      <strong>Sucursal:</strong>
      <%= usuario.sucursal.nombre %>
    </p>
  <% end %>

</div>
