<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Edit this usuario", edit_usuario_path(@usuario) %>

  <%= button_to "Destroy this usuario", @usuario, method: :delete %>
</div>
